html, body, .bg {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: white;
  text-shadow: 0 0 35px #000;
}

.bg {
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.clock {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 5rem;
  font-weight: 700;
  cursor: default;
}

.widget {
  position: fixed;
  padding: 1em;
}

#info {
  bottom: 0;
  left: 0;
}

#actions {
  bottom: 0;
  right: 0;
}

a, a:link, a:visited, a:active {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}
